@media (min-width: 992px) {  
    #navbar {
        display: none;
    }
    .playerCard {
        width: 13rem;
        min-height: 14rem;
    }
    #blackCard {
        float: right;
    }
    #footerButtons {
        display: none;
    }
    #gameBoard {
        min-height: 17rem;
    }
}
@media (max-width: 992px) {  
    body {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
    }
    .candidateCardHolder {
        width: 100%;
    }
    #infoRow {
        display: none;
    }
    #playerRow {
        display: none;
    }
    #footerButtons {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    .btn {
        padding: 10px;
    }
}

body {
    background-color: #121212;
}

hr {
    border-top: 1px solid white;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
    cursor: not-allowed;
}

body, h4, h5, h6 {
    font-family: 'Noto Sans JP', sans-serif;
}
.whiteCard:hover {
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
    -o-filter: brightness(85%);
    -ms-filter: brightness(85%);
    filter: brightness(85%);
    cursor: pointer;
}
#submittedWhiteCards {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d6d6d6' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 0px 10px 20px 10px;
}